/*Universal*/

body {
    font-size: 16px;
    padding: 1em;
    color: #333333;
    background-color: #FFFFCC; 
  }
  
h1 {
    font-family: "Aboreto";
    font-size: 4em;
    margin: 0.25em 0;
    color: #FFFFCC;
    position: relative;
  }

h1::before {
    content: ''; /* Create an empty pseudo-element */
    position:absolute;
    top: -25px;
    bottom: -25px;
    left: -500px;
    right: -500px;
    background-color: #000000; 
    z-index: -1; 
}

p {
    font-family: "Amiri";
    font-size: 18px;
    color: #333333;
  }

.intro-paragraph {
    font-family: "Amiri";
    font-size: 24px;
    color: #333333;
  }  
  
.text{
      font-family: "Josefin Sans";
      color: #333333;
      fill: none;
  }

.content {
    max-width: 800px;
    margin: auto;
}

.svg-container {
    margin-bottom: 1em;
    width: 100%; 
}
 
.highlight {
    opacity: 1;
  }

.tooltip {
    opacity: 0;
    transition: opacity 0.5s ease; 
    position: absolute;
    background: #CCFFCC;
    padding: 5px;
    z-index: 9950;
    border: none
}

#tooltip-svg5 {
  opacity: 0;
  position: absolute;
  z-index: 9999;
  background: #CCFFCC;
  padding: 5px;
  border: none;
}

#tooltip-svg6 {
  opacity: 0;
  position: absolute;
  z-index: 9999;
  background: #CCFFCC;
  padding: 5px;
  border: none;
}