/*Universal*/

body {
    font-size: 16px;
    padding: 1em;
    color: #333333;
    background-color: rgba(191, 163, 63, 0.2); 
  }
  
h1 {
    font-family: "Aboreto";
    font-size: 3em;
    margin: 0.25em 0;
    color: #333333;
  }
  
h2 {
      font-family: "Aboreto";
      font-size: 2em;
      margin: 0.25em 0;
      color: #333333;
      text-align: center;
    }
  
h3 {
    font-family: "Aboreto";
    font-size: 1em;
    margin: 0.25em 0;
    color: #333333;
  }
  
p {
    font-family: "Amiri";
    font-size: 16px;
    color: #333333;
  }
  
ul {font-family: "Amiri";
      font-size: 16px;
      color: #333333;
  }
  
.text{
      color: #333333;
      fill: none;
  }

.content {
    max-width: 800px;
    margin: auto;
}

.svg-container {
    margin-bottom: 1em;
    width: 100%; 
}

  